

.productContainer{
    display: flex;
    justify-content: center;
}

.imgBox{
    display: flex;
    width: 19%;
    /* border: 2px solid green; */
    justify-content: center;
    position: absolute;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.imgClass{
    height: 180px;
    width: 100%;
    
}
.detailsBox{

    position: relative;
    width: 100%;
    top: 120px;
    z-index: 8;
    background-color: white;
    padding: 5px;
    box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
}
.products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 150px;
}